#Contact {
  display: flex;
  justify-content: center;
  background-color: #bd919c;
  padding: 3%;
}

#Contact h1 {
  font-size: 2em;
}

#Contact h1,
p {
  text-align: center;
  padding-inline: 10%;
}

#Contact p {
  font-size: 20px;
}

.social_links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5%;
  padding: 0;
}

.social_links li a {
  padding: 15px 10px 5px 10px;
  cursor: url("../assets/sakuranoir.png"), auto;
}

.social_links .icon {
  font-size: 40px;
}

.icon {
  color: black;
  cursor: url("../assets/sakuranoir.png"), auto;
  font-size: 30px;
  padding-left: 1%;
}

@media (max-width: 550px) {
  #Contact {
    padding: 25px;
  }
  #Contact h1 {
    font-size: 1.5em;
  }
  #Contact p {
    padding-inline: unset;
  }
}
