footer {
  display: flex;
  justify-content: center;
  background-color: #121212;
  color: white;
  cursor: url("../assets/logo&icon/sakurablanc.png"), auto;
  padding: 1%;
}

footer p {
  text-align: center;
  font-size: 18px;
  cursor: url("../assets/logo&icon/sakurablanc.png"), auto;
}

/***** Mobile *****/
@media (min-width: 320px) and (max-width: 480px) {
  footer p {
    font-size: 15px;
    padding-inline: 5%;
  }
}
