footer {
  display: flex;
  justify-content: center;
  background-color: #544e52;
  color: white;
}

.container {
  padding: 1%;
}

#footer p {
  text-align: center;
  font-size: 18px;
}

@media (max-width: 550px) {
  .container {
    padding: unset;
  }
}
