* {
  cursor: url("../assets/sakura.png"), auto;
}

a {
  cursor: url("../assets/sakuranoir.png"), auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Accueil {
  background-image: url("../assets/bouquet.png");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Accueil .typed_text {
  width: 85%;
  text-align: left;
  margin-left: 5%;
  color: white;
}
.typed_text h1 {
  font-size: 48px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-h1 11s steps(18) infinite;
  margin: 1px;
}

.typed_text h2 {
  font-size: 48px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-h2 11s steps(58) infinite;
  margin: 1px;
}

.typed_text h3 {
  font-size: 48px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing-h3 11s steps(52) infinite;
  margin: 1px;
}

@keyframes typing-h1 {
  0% {
    width: 0;
  }
  6% {
    width: 37%;
  }
  94% {
    width: 37%;
  }
  100% {
    width: 0;
  }
}

@keyframes typing-h2 {
  0% {
    width: 0;
  }
  6% {
    width: 0;
  }
  25% {
    width: 95%;
  }
  75% {
    width: 95%;
  }
  93% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes typing-h3 {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  45% {
    width: 80%;
  }
  55% {
    width: 80%;
  }
  75% {
    width: 0%;
  }
  100% {
    width: 0;
  }
}

#Presentation {
  display: flex;
  text-align: center;
  padding: 5%;
  background-color: #f5f5f5;
}
#Presentation .Apropos {
  display: flex;
  flex-direction: row;
}
#Presentation h1 {
  font-size: 2em;
}

.GifDev {
  width: 300px;
  padding-top: 26%;
}

#Presentation p {
  font-size: 23px;
}

.line {
  background: black;
  width: 100px;
  height: 2px;
  margin: auto;
  margin-bottom: 15px;
}

#Projets {
  padding: 5%;
  display: grid;
  justify-content: center;
}
#Projets h1 {
  text-align: center;
  font-size: 2em;
}

.all_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 5%;
  row-gap: 2%;
  padding-bottom: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  min-width: 350px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  transition: transform 0.3s ease;
  z-index: 0;
}
.card:hover {
  transform: scale(1.07);
  z-index: 0;
}
.card p {
  padding-inline: 25px;
  font-size: 18px;
}
.card div a {
  padding-inline: 10px;
  font-size: 20px;
  color: black;
}

.RidingCities {
  width: 90%;
  height: auto;
  border-radius: 25px;
}

.Booki {
  width: 90%;
  height: auto;
  border-radius: 25px;
  border: 1px solid;
}

.Ohmyfood {
  width: 90%;
  height: auto;
  border-radius: 25px;
}

.Print-it {
  width: 90%;
  height: auto;
  border-radius: 25px;
}

.NinaCarducci {
  width: 90%;
  height: auto;
  border-radius: 25px;
}

.langages {
  display: flex;
  flex-direction: row;
  gap: 10%;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 15px;
}

.lien_card {
  padding-bottom: 15px;
}

#Competences {
  padding: 5%;
  background-color: #f5f5f5;
}

#Competences h1 {
  display: grid;
  justify-content: center;
  font-size: 2em;
}

.progress-container {
  margin-bottom: 20px;
}

.label {
  font-size: 20px;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: #bdbdbd;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
}

.progress {
  background-color: #bd919c;
  border-radius: 5px;
  text-align: right;
  padding-right: 10px;
  line-height: 40px;
  height: 40px;
}

/***** Mobile *****/
@media (max-width: 480px) {
  #Accueil {
    min-height: 65vh;
  }
  #Accueil .typed_text {
    width: 90%;
  }
  .typed_text h1 {
    font-size: 19px;
  }
  .typed_text h2 {
    font-size: 19px;
  }
  .typed_text h3 {
    font-size: 19px;
  }

  #Presentation {
    padding: 25px;
  }
  #Presentation .Apropos {
    display: flex;
    flex-direction: column-reverse;
  }

  #Presentation h1 {
    font-size: 1.5em;
  }
  #Presentation p {
    font-size: 18px;
    padding-inline: unset;
  }

   .GifDev {
    width: 270px;
    padding-top: 0%;
  }

  #Projets {
    padding: 25px;
  }
  #Projets h1 {
    font-size: 1.5em;
  }

  .all_cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: unset;
  }
  .card {
    min-width: 280px;
    margin-bottom: 10%;
  }
  .card p {
    padding-inline: 15px;
 }
  .card:hover {
    transform: scale(1.05);
  }
  .card h2 {
    font-size: 1em;
  }

  .RidingCities {
    width: 225px;
  }

  .Booki {
    width: 225px;
  }

  .Ohmyfood {
    width: 225px;
  }

  .Print-it {
    width: 225px;
  }

  .NinaCarducci {
    width: 225px;
  }

  #Competences {
    padding: 25px;
  }
  #Competences h1 {
    font-size: 1.5em;
  }

  .progress-container .label {
    font-size: 16px;
  }

  #footer {
    padding: 25px;
  }
  #footer p {
    padding-inline: unset;
  }
}

@media (min-width: 481px) and (max-width: 815px) {
  #Accueil .typed_text {
    width: 86%;
  }

  .typed_text h1 {
    font-size: 28px;
  }
  .typed_text h2 {
    font-size: 28px;
  }
  .typed_text h3 {
    font-size: 28px;
  }

  #Presentation .Apropos {
    display: flex;
    flex-direction: column-reverse;
  }

  .GifDev {
    padding-top: 0%;
  }

  .all_cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: unset;
  }
  .card {
    width: 95%;
  }

  #Competences {
    padding: 60px;
  }
}
